@font-face{
    font-family: 'mistrully';
    src: url('../../assets/fonts/Mistrully.ttf') format('truetype');
}
:root{
    --whiteBG: #F4F1E8;
    --brownTXT:#9B4819;
    --brownBG:#b15d2c;
    --brownBG2: #ca6d37;
    --brownBG3: #e2a683;
    --brownBG4: #ffa774;
    --black: black;
    --blue:blue;
}
*{
    margin:0;
}

.body{
    flex: 1;
    height: 100vh;
    background-color:var(--whiteBG);
    padding: 20px;
}
.box{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: center;
}
.home-hello{
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 10vw;
}
.home-name{
    font-size: 10vw;
    font-family: 'mistrully';
}
.home-quote{
    font-size: 2.5vw;
    font-family: 'Poppins';
    color:var(--brownTXT);
}
.box2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: center;
    padding: 30px;
    text-align: center;
}
.abt-me{
    color: var(--brownTXT);
    margin-top: 60px;
    text-align: center;
    cursor: pointer;
    font-family: 'mistrully';
    font-size: 2.5vw;
}
.abt-me:hover{
color: var(--blue);
}