@font-face{
    font-family: 'mistrully';
    src: url('../../assets/fonts/Mistrully.ttf') format('truetype');
}
@font-face {
    font-family: 'quicksand';
    src: url('../../assets/fonts/Quicksand.ttf') format('truetype');
}
:root{
    --whiteBG: #F4F1E8;
    --brownTXT:#9B4819;
    --brownBG:#b15d2c;
    --brownBG2: #ca6d37;
    --brownBG3: #e2a683;
    --brownBG4: #ffa774;
    --black: black;
    --blue:blue;
}
*{
    margin:0;
    background-color:var(--whiteBG);
}

.body{
    flex: 1;
    padding: 20px;
}
.box{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: center;
}
.heading{
    display: flex;
    justify-content: flex-end;

}
.home-hello{
    font-weight: bold;
    font-family: 'quicksand';
}
.home-name{
    font-family: 'mistrully';
}
.home-quote{
    font-family: 'quicksand';
    color:var(--brownTXT);
}
.box2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: center;
    padding: 30px;
    text-align: center;
}
.abt-me{
    color: var(--brownTXT);
    margin-top: 5px;
    cursor: pointer;
    font-family: 'quicksand';
    text-decoration: none;
    text-align: left;
    font-size: 17px;
}
.box-mobile-view{
    margin-top: 60px;
}