@font-face{
    font-family: 'mistrully';
    src: url('../assets/fonts/Mistrully.ttf') format('truetype');
}
@font-face {
    font-family: 'quicksand';
    src: url('../assets/fonts/Quicksand.ttf') format('truetype');
}
.card-body{
    background-color: var(--whiteBG);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 130px;
    border: 2px solid;
    border-style:double;
    border-color: var(--brownTXT);
}
.card-circle{
background-color: var(--brownBG);
width: 50px;
height: 50px;
border-top-right-radius: 0px;
border-bottom-right-radius: 40px;
}
.card-img{
    width: 90px;
    height: 144px;
    margin-top: -35px;
    margin-left: 17px;
    border-radius: 10px;
}
.card-text{
    text-align: center;
    font-family: 'mistrully';
    border-bottom: 2px;
    border-color: var(--brownTXT);
    cursor: pointer;
}
.card-text:hover{
    color: var(--blue);
}
.breadcrumblink{
    color: var( --brownTXT);
    text-decoration: none;
    font-family: 'quicksand';
}
.breadcrumblink :hover{
    color: var(--blue);
    text-decoration: solid;
}
.tab-row{
    width: 100%;
    margin-top: 20px;
    font-family: 'quicksand';
    color: var( --brownTXT);
}